* {
    scroll-behavior: smooth;
    color: black;
    font-family: "JetBrains Mono", monospace;
}

#main {
    display: block;
    padding: 0 10%;
    scroll-behavior: smooth;
}

#landing {
    display: flex;
    gap: 6rem;
    align-items: center;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
}

.headshot {
    margin-top: 1rem;
    width: 350px;
    border-radius: 50px;
}

.intro {
    display: inline-block;
    text-align: center;
}

h2 {

    font-size: 30px;
    font-weight: bold;
    /* display: block; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
}

.h1 {
    text-align: center;
    display: block;
}

#landing h1 {
    font-size: 40px;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.type {
    border-right: 4px solid black;
    animation: blink-caret 0.75s step-end infinite;
}

.mainAbout {
    margin-top: 20px;
    border-top: 2px solid black;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.mainAbout p:first-child {
    margin-top: 20px;
}

/* about section */

#about {
    padding-top: 6rem;
    text-align: center;
}

section {
    animation: fadein 2s linear;
    transition: opacity 2s ease;
}

section h1 {
    font-size: 35px;
    padding: 0;
}

p {
    margin-top: 3rem;
    font-size: 20px;
}

#about h2 {
    margin-top: 5rem;
}

.skills {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    margin-top: 3rem;
}

.skills h3 {
    margin-bottom: 1rem;
    font-weight: 700;
}


.skills div {
    display: inline-block;

}


/* experiences section */


#experiences {
    text-align: center;
    margin-top: 5rem;
}

article {
    margin-top: 2rem;
    background-color: black;
    text-align: left;
    padding: 3rem;
    border: solid;
    border-color: white;
    border-width: 0px 4px 4px 0;
    box-shadow: 10px 10px;
}

article h3,
article h3 a,
article h4 {
    color: white;
    text-decoration: none;
}

article h3 a {
    cursor: pointer;
}

article h3,
article h3 a {
    font-size: 25px;
    font-weight: bold
}

article:hover {
    transform: scale(1.10);
}

h4 {
    margin-top: 5px;
    /* font-weight: bold; */
}

article ul {

    margin-left: 2rem;
    list-style-type: circle;
}

article ul li {
    color: white;
    margin-top: 1rem;
}

#experiences h2,
#about h2,
#projects h2 {
    font-size: 35px;
}


/* projects section */

#projects {
    margin-top: 5rem;
}


#projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects .cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.project-card {
    background-color: transparent;
    height: 22rem;
    flex: 1 0 48%;
    box-sizing: border-box;
    margin: 1%;
    perspective: 1000px;
    border-radius: 16px;
    overflow: hidden;
    flex-basis: 100%;

}

@media (min-width: 1024px) {
    .project-card {
        flex-basis: auto;
        min-width: 45%;
        flex-wrap: wrap;

    }
}

.project-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
    transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
}

.project-card-back {
    background-color: black;
    transform: rotateY(180deg);
    overflow: scroll;

}

.project-card-back::-webkit-scrollbar {
    display: none;
}


.project-card-back h2,
.project-card-back p {
    padding: 5px;
    margin: 0;
    color: white;
}

.project-card-back h2,
.project-card-back div {
    display: inline-block;
}

.tag {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 1rem !important;
    background: white;
    box-shadow: 2px 2px;
    font-weight: bold;
    transition: 0.6s;
    font-size: 1rem;
}

.tag:hover {
    background-color: whitesmoke;
    transform: scale(1.2);
}

.project-card-back .github {
    width: 20px;
}


/* links section */

footer {
    padding: 2rem;
    text-align: center;
    margin-top: 6rem;

}


footer .imgs {
    position: relative;
    width: 80px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;

    
}

#resume, #email {
    width: 150px;
    cursor: pointer;
}

footer .imgs:hover {
    top: -10px;
}

footer div {
    height: 200px;
    width: 100%;
}

.logos h2 {
    display: block;
    grid-column-start: 1;
    grid-column-end: 4;
}

#resume {
    grid-column-start: 2;
}